h1{
  text-align: center;
}

label{
  margin-top: 20px;
}

#ageForm, #passedForm, #futureForm{
  display: inline-flex;
  flex-direction: column;
  max-width: 300px;
}

button{
  margin-top: 20px;
}

.planetAges{
  background-color: aquamarine;
  text-align: center;
  width: 200px;
  height: 150px;
  border-radius: 20px;
  margin: 30px auto;
}